<nav class="bg-slate-900 text-white shadow-lg">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex justify-between items-center h-16">
      <a href="#" class="text-2xl font-bold text-cyan-400"> EMS </a>

      <div class="flex items-center gap-6">
        <a href="{% url 'dashboard' %}" class="hover:text-cyan-400"
          >Dashboard</a
        >
        <a href="{% url 'employee_list' %}" class="hover:text-cyan-400"
          >Employees</a
        >
        <a href="{% url 'profile' %}" class="hover:text-cyan-400"> Profile </a>

        <a
          href="{% url 'logout' %}"
          class="bg-red-500 px-4 py-2 rounded-lg hover:bg-red-600"
        >
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
